.root {
    background-color: #030712;
    -fx-background-color: #030712;
}

.button {
    background-color: #030712;
    -fx-background-color: #030712;
    -fx-text-fill: #d1d5dc;
    font-size: 14px;
    -fx-font-size: 14px;
    font-weight: bold;
    -fx-font-weight: bold;
}

.button:hover {
    background-color: #1f2a38;
    -fx-background-color: #1f2a38;
}

#contentPane {
    background-color: #030712;
    -fx-background-color: #030712;
}

.label {
    -fx-text-fill: #ffffff;
    font-size: 24px;
    -fx-font-size: 24px;
    font-weight: bold;
    -fx-font-weight: bold;
}